#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 12px;
}

@media (max-width: 576px) {
	.display-4 {
		font-size: 2.5rem;
	}

	#redes-sociais {
		justify-content: center;
	}

}

@media (min-width: 576px) {
	#redes-sociais {
		justify-content: flex-end;
	}
}